#about-page {
    padding: 30px;
    background: #f5f5f5;

    .container-fluid {
        margin-bottom: 2rem;
        .about-image {
            height: 50%;

            #about-img {
                border-radius: 10px;
                height: 100%;
                background: url(/img/about-image.jpg) no-repeat center center; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        }
        h2 {
            font-size: 2.5rem;
            text-transform: uppercase;
            margin-bottom: 2.5rem;
        }
        .row {
            .col-12 {
                i.fas {
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }
                h4 {
                    font-size: 1.75rem;
                    font-weight: 300;
                    margin-bottom: 2rem;
                }
                p {
                    font-size: 1rem;
                    line-height: 1.5;
                    font-weight: 300;
                }
            }
        }
    }
}

// Medium Devices and Over
@media screen and (min-width: 768px) {
    #about-page {
        padding: 60px;
    }
}
