#contact-page {
    padding: 30px;
    background: #f5f5f5;

    .container-fluid {
        margin-bottom: 2rem;
        h2 {
            text-transform: uppercase;
            border-bottom: 1px solid #CED1D4;
            letter-spacing: .08rem;
        }
        .contact-description {
        
            h4 {
                padding-top: 15px;
                margin-bottom: 0;
                font-size: 1.5rem;
                color: $green-500;
            }
            p {
                margin: 20px 0;
                color: #333;
                a {
                    text-decoration: none;
                }
            }
        }
        .contact-form {
            background: #fff;
            padding: 20px;
            h1.thank-you {
                font-size: 1.5rem;
                line-height: 1.5;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #contact-page {
        padding: 60px;
    }
}