#properties-page {
    padding: 30px;
    background: #f5f5f5;

    .container-fluid {
        margin-bottom: 2rem;
        
        .page-header {
            margin-bottom: 2rem;
            h2 {
                font-size: 1.5rem;
                margin-bottom: .5rem;
            }
            nav {
                ol.breadcrumb {
                    margin-bottom: 0;
                    padding-top: .625rem;
                    border-top: 1px solid #e0e4ef;
                    font-size: .75rem;
                    display: flex;
                    background: transparent;
                    list-style: none;
                    li.breadcrumb-item {
                        a.breadcrumb-link {
                            text-decoration: none;
                            color: $blue-400;
                            font-size: .75rem;
                            &:hover {
                                color: $blue-300;
                            }
                        }
                    }
                }
            }
            
        }
        h5.text-center {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        .col.property {
            margin-bottom: 1rem;
            .hoverable {
                -webkit-transition: -webkit-transform .2s, -webkit-box-shadow .2s;
                transition: -webkit-transform .2s, -webkit-box-shadow .2s;
                transition: transform .2s, box-shadow .2s;
                transition: transform .2s, box-shadow .2s, -webkit-transform .2s, -webkit-box-shadow .2s;
                &:hover {
                    -webkit-transform: translate3d(0, -.25rem, 0);
                    transform: translate3d(0, -.25rem, 0);
                    -webkit-box-shadow: 0 5px 15px 0 rgba(61, 70, 79, .15);
                    box-shadow: 0 5px 15px 0 rgba(61, 70, 79, .15);
                }
                .card-img-top {
                    width: 100%;
                    object-fit: cover;
                    height: 250px;
                }
            }
        }

        .card-footer {
            display: flex;
            nav {
                ul.pagination {
                    li.page-item {
                        &.active {
                            span.page-link {
                                color: #fff;
                                background: #212529;
                                border-color: #212529;
                            }
                        }
                        a.page-link {
                            color: #212529;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #properties-page {
        padding: 60px;
    }
}